.payment-form-container {
	margin-top: 100px !important;
}

.payment-form-container h1 {
	margin: 10px auto;
	padding: 0;
	text-align: center;
	font-size: 18px;
}

/* 
 * スピナーをラップする要素。
*/
#payment-form-spinner {
	margin: 20px;
}

#card-element {
	margin-top: 20px;
	margin-bottom: 50px;
}

/*
 * 戻るボタン。
 */
.other-actions-container {
	margin-top: 100px !important;
}
